<!-- ======= Footer ======= -->
<footer id="footer">
    <div class="container">
      <h3>Nicolás Potier</h3>
      <p>Sigueme en las redes</p>
      <div class="social-links">
        <a href="https://twitter.com/potier97" target='__blanck' class="twitter"><i class="bx bxl-twitter"></i></a>
        <a href="http://instagram.com/nipoanz" target='__blanck' class="instagram"><i class="bx bxl-instagram"></i></a>
        <a href="https://www.linkedin.com/in/potier97" target='__blanck' class="linkedin"><i class="bx bxl-linkedin"></i></a>
        <a href="https://github.com/potier97" target='__blanck' class="github"><i class="bx bxl-github"></i></a>
      </div>
      <div class="copyright">
        &copy; Copyright <strong><span>NPA</span></strong>. Todos los derechos reservados
      </div> 
    </div>
</footer><!-- End Footer -->

<a  id="buttom-to-top" href="#" class="back-to-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>
