<header  
    id="header" 
    class="fixed-top d-flex justify-content-center align-items-center header-transparent"> 
    <nav id="navbar"  [ngClass]="!statusMenu ? 'navbar' : 'navbar-mobile dropdown-active'">
      <ul #navegationElement>
        <li><a class="nav-link scrollto " [ngClass]="homeStatus ? 'active' : ''" (click)="onChangeTopic('hero')" >Inicio</a></li>
        <li><a class="nav-link scrollto"  [ngClass]="aboutStatus ? 'active' : ''" (click)="onChangeTopic('about')"   >Habilidades</a></li>  
        <li><a class="nav-link scrollto"  [ngClass]="serviesStatus ? 'active' : ''" (click)="onChangeTopic('services')" >Servicios</a></li>
        <li><a class="nav-link scrollto " [ngClass]="portfolioStatus ? 'active' : ''" (click)="onChangeTopic('portfolio')" >Portafolio</a></li> 
        <li><a class="nav-link scrollto"  [ngClass]="contactStatus ? 'active' : ''" (click)="onChangeTopic('contact')" >Contacto</a></li>
      </ul>
      <i class="bi bi-list mobile-nav-toggle"  [ngClass]="!statusMenu ? 'bi-list' : 'bi-x dropdown-active'" (click)="onClickMenu()" ></i>
    </nav><!-- .navbar -->
</header><!-- End Header -->
