// @import "../node_modules/bootstrap/scss/bootstrap.scss"; 
// @import "../node_modules/bootstrap/scss/bootstrap-grid.scss"; 
@import "../node_modules/bootswatch/dist/sandstone/variables";
@import "../node_modules/bootswatch/dist/sandstone/bootstrap.min.css";
@import "../node_modules/boxicons/css/boxicons.min.css";
@import "~bootstrap-icons/font/bootstrap-icons.css";
/* Importing Bootstrap SCSS file. */
// @import '~bootstrap/scss/bootstrap';

// @import "../node_modules/bootstrap/scss/bootstrap.scss"; 
// @import "../node_modules/bootstrap/scss/bootstrap-grid.scss"; 
// @import "../node_modules/bootswatch/dist/sandstone/variables";
// @import "../node_modules/bootswatch/dist/sandstone/bootstrap.min.css";
  

::-webkit-scrollbar {
    width: 4px;
    overflow-y: scroll;
    background: grey;
    box-shadow: inset 0 0 4px #707070;
}

::-webkit-scrollbar-thumb {
    background: #F2621F;
    border-radius: 10px;
}